# Datasets y modelos grandes
notebooks/Entrega2/simpsons_data/
notebooks/Entrega2/checkpoints/

# Archivos específicos grandes
*.h5
*.hdf5
*.zip
*.tar.gz

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# Entornos virtuales
venv/
ENV/

# Archivos del sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db